@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;

    src: local("Nunito"),
    url("vendors/fonts/Nunito/Nunito-Regular.woff2") format("woff2"),
    url("vendors/fonts/Nunito/Nunito-Regular.woff") format("woff");
}
@font-face {
    font-family: "Nunito-SemiBold";

    src: local("Nunito"),
    url("vendors/fonts/Nunito/Nunito-SemiBold.woff2") format("woff2"),
    url("vendors/fonts/Nunito/Nunito-SemiBold.woff") format("woff");
}



:root{
    --main-bg: #000;
    --workarea-bg: #171717;
    --element-bg: #4e4d4d;
    --white-bg: #fff;
    --black-bg: #000;
    --gold-bg: #f9cb74;
    --main-text-color: #fff;
    --button-bg-color: #fff460;
    --secondary-text-color: #f9cb74;
    --third-text-color: #000;
}

html, body {
    height: 100%;
}

body{
    color: var(--main-text-color);
    background-color: var(--workarea-bg);
    font-family: 'Nunito', sans-serif;
}
body *:focus {
    outline: none;
}

body a {
    color: var(--main-text-color);
}
body a:hover {
    color: var(--secondary-text-color);
}


.text-golden{
    color: var(--secondary-text-color);
}
.bg-golden{
    background-color: var(--secondary-text-color);
}




.wrapper{
    height: 100%;
}
.workarea{
    background: var(--workarea-bg);
}

.header{
    font-size: 32px;
    font-family: 'Nunito-SemiBold', sans-serif ;
    margin: 2rem 0;
}

header .header-btn{
    width: 85px;
}




.btn{
    border-radius: 2rem;
    padding: 3px 20px;
    border: none;
    outline: none;
    background-color: var(--button-bg-color);
    color: var(--third-text-color);
}
.btn-primary{
    background-color: var(--button-bg-color);
    color: var(--third-text-color);
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus{
    background-color: var(--white-bg) !important;
    border-color: transparent !important;
    color: var(--third-text-color) !important;
    box-shadow: none!important;
}
.btn-secondary{
    border: 1px solid var(--secondary-text-color);
    color: var(--secondary-text-color);
    background-color: var(--black-bg);
}
.btn-secondary:hover, .btn-secondary:active, .btn-secondary:focus{
    background-color: var(--white-bg) !important;
    border-color: transparent !important;
    color: var(--third-text-color) !important;
    box-shadow: none!important;
}






.element-bg{
    background: var(--element-bg);
}



header, footer{
    background: var(--main-bg);
    color: var(--secondary-text-color);
}
.bx-content-section, .bx-header-section{
    background: initial;
}

.bx-logo-block img {
    max-height: 100px;
    margin-top: -25px;
}

.bx-top-nav-container{
    background: none!important;
}

.header-phone{
    font-size: 24px;
}
.company-logo{
    width: 225px;
}
.company-logo img{
    margin: -9% -9%;
    width: 115%;
}




/* ELEMENTS */
.favor{
    position: absolute;
    top: 1.25rem;
    left: 1.25rem;
    height: 50px;
    width: 32px;
    border: none;
    border-radius: 5px;
    outline: none;
    z-index: 10;
    background: var(--element-bg) url("images/favor.svg") center no-repeat;
}
.favor.active{
    background: var(--element-bg) url("images/favor_active.svg") center no-repeat;
}

.event_type{
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: var(--gold-bg);
    text-align: center;
    z-index: 10;
}
.event_type.birthday{
    background-image: url("images/birthday.png");
    background-position: center;
    background-repeat: no-repeat;
    background-color: #9443FF;
}
.event_type.party{
    background-image: url("images/party.png");
    background-position: center;
    background-repeat: no-repeat;
    background-color: #18B7C1;
}
.event_type.play{
    background-image: url("images/play.png");
    background-position: center;
    background-repeat: no-repeat;
    background-color: #E44255;
}
.event_type.award{
    background-image: url("images/award.png");
    background-position: center;
    background-repeat: no-repeat;
    background-color: #EA8334;
}
.event_type.exhibition{
    background-image: url("images/exhibition.png");
    background-position: center;
    background-repeat: no-repeat;
    background-color: #FFC500;
}



.date-published {
    color: #8a8a8a;
    font-size: 14px;
    line-height: 19px;
}


/* CARD */
.card{
    background-color: var(--element-bg);
    border-radius: 1.5rem;
    border: none;
    overflow: hidden;
    width: 100%;
}
.card .card-title{
    font-size: 20px;
    line-height: 27px;
}
.card .card-text{
    font-size: 14px;
}
.card .card-title a{
    font-family: 'Nunito-SemiBold', sans-serif ;
    text-decoration: none;
    color: var(--main-text-color);
    font-size: 20px;
    line-height: 27px;
}
.card .card-img-container{
    position: relative;
}

.card .card-img-container img{
    width: 100%;
}
.card .card-img-container .btn{
    position: absolute;
    bottom: 1.25rem;
    right: 1.25rem;
}
.card .card-img-container .btn img{
    display: inline;
    width: 20px;
}



/* SLIDER */
.slider-container{
    position: relative;
    margin-bottom: 50px;
}

@media (min-width: 1280px) {
    .slider-container .container{
        max-width: initial!important;
        padding: 0;
    }
}

.main-page .slider-container .top-line,
.main-page .slider-container .bottom-line{
    height: 0;
    position: absolute;
    left: 0;
    right: 0;
}
.main-page .slider-container .top-line{
    top: 0;
}
.main-page .slider-container .top-line img{
    transform: translateY(-20%);
    width: 100%;
}
.main-page .slider-container .bottom-line{
    bottom: 0;
}
.main-page .slider-container .bottom-line img{
    transform: translateY(-80%);
    width: 100%;
}




.owl-carousel .owl-nav {
    z-index: 1000;
    position: absolute;
    height: 0;
    top: 36%;
    right: 1rem;
    left: 1rem;
    display: flex;
    justify-content: space-between;
}
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next
{
    border-radius: 50px;
    height: 50px;
    width: 50px;
    background: var(--element-bg) !important;
}

.owl-prev:after, .owl-next:after {
    content: "";
    display: block;
    width: 35%;
    height: 35%;
    border-top: 1px solid #fff;
    margin: 0 auto;
}
.owl-prev:after{
    border-left: 1px solid #fff;
    transform: rotate(-45deg);
    margin-left: 40%;
}
.owl-next:after {
    border-right: 1px solid #fff;
    transform: rotate(45deg);
    margin-right: 40%;
}

#calendar_dates.owl-carousel .owl-nav {
    top: 50%;
    right: 0.25rem;
    left: 0.25rem;
}
#calendar_dates .owl-prev, #calendar_dates .owl-next{
    height: 28px;
    width: 28px;
    background: var(--gold-bg)!important;
}

#calendar_dates .owl-prev:after{
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    transform: rotate(-45deg);
    margin-left: 40%;
}
#calendar_dates .owl-next:after {
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    transform: rotate(45deg);
    margin-right: 40%;
}




#calendar_dates .calendar_dates_date{
    line-height: 22px;
    border-radius: .3rem;
    width: 32px;
}
#calendar_dates .calendar_dates_date span:first-child{
    font-size: 18px;
    font-weight: bold;
}
#calendar_dates .calendar_dates_date span:last-child{
    font-size: 12px;
}
#calendar_dates .calendar_dates_date.bg-golden span{
    color: var(--third-text-color);
}






.owl-carousel .card .favor{
    top: 30px;
    left: 40px;
}

.owl-carousel .card-body{
    padding: 30px 40px;
}

.owl-carousel .card .card-title{
    font-size: 30px;
}
.owl-carousel .card .card-text{
    font-size: 16px;
}

.owl-carousel .card-img-container{
    height: 0;
    padding-bottom: 36.9%;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media (max-width: 767px) {
    .owl-carousel .card-img-container{
        padding-bottom: 100%;
    }
    .owl-carousel .card-img-container img{
        width: auto!important;
    }
}

.owl-carousel .card-img-container .btn{
    bottom: 2.7rem;
    right: 2.7rem;
    font-size: 20px;
    padding: 7px 45px;
}
.owl-carousel .card-img-container .btn img{
    width: 30px;
}



@media (min-width: 1280px) {
    .container, .container-sm, .container-md, .container-lg, .container-xl {
        max-width: 1180px;
    }
    .owl-carousel .owl-nav {
        right: 13%;
        left: 13%;
    }
}
@media (min-width: 1440px) {
    .owl-carousel .owl-nav {
        right: 17%;
        left: 17%;
    }
}
@media (min-width: 1600px) {
    .owl-carousel .owl-nav {
        right: 16%;
        left: 16%;
    }
}
@media (min-width: 1920px) {
    .owl-carousel .owl-nav {
        right: 21%;
        left: 21%;
    }
}







/* ARTICLES */
@media (min-width: 768px) {
    .articles-list .card .card-img-container{
        min-width: 225px;
    }
}

.articles-list .card .author-photo{
    min-width: 50px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    overflow: hidden;
}

.articles-list .card .category-type{
    height: 20px;
}
.articles-list .card .category-type span{
    display: block;
    text-align: center;
    background: #18B7C1;
    padding: 3px 0;
    width: 100px;
    height: 20px;
    border-radius: 5px;
    font-size: 10px;
}



.afisha-date{
    display: flex;
    align-items: center;
    text-align: center;
    border: 1px solid var(--secondary-text-color);
    color: var(--secondary-text-color);
    border-radius: 0.3rem;
    height: 80px;
    width: 75px;
    margin-right: 2rem;
}






/* LIKES */
.like-btn{
    display: flex;
    height: 30px;
    width: 30px;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid var(--button-bg-color);
    border-radius: 5px;
    cursor: pointer;
    transition: .15s ease-in-out;
    align-items: center;
    justify-content: center;
}
.like-btn:hover, .like-btn.liked{
    background: var(--button-bg-color);
}





/* MENU */
.bx-top-nav-container {
    padding: .5rem 0;
    margin-left: -1rem;
}
.bx-top-nav-container .bx-nav-1-lvl-link {
    padding: 0;
}
.bx-top-nav-container .bx-nav-1-lvl-link-text {
    padding: .5rem 1rem;
    text-transform: capitalize;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
}
.bx-top-nav-container .bx-nav-1-lvl-link-text .active {
    color: var(--third-text-color);
}
@media (max-width: 767px) {
    .bx-top-nav-container {
        display: block;
        margin: 0;
    }
}



/* SEARCH */
.bx-searchtitle .form-control{
    min-height: auto;
    height: 30px;
    outline: none;
    box-shadow: none;
    padding: 0.375rem 0.75rem 0.5rem;
}
.bx-searchtitle .search-title-button{
    min-height: auto;
    height: 30px;
    width: 40px;
    background-image: url("images/loupe.png");
    background-color: var(--white-bg);
}
.title-search-result a {
    color: var(--third-text-color);
}




/* FORM */
.question-container{
    background: url("images/theatre-bg.png") top center / cover no-repeat;
}

.question-container .question-form{
    background: var(--main-bg);
    padding: 3rem;
    margin: 4rem 0;
    border-radius: 1.5rem;
}
.question-container .question-form .header{
    margin-top: 0;
    line-height: 2rem;
}
.question-container .question-form .form-control{
    margin-bottom: .75rem;
    border-radius: 0;
}
.question-container .question-form .question-form-approval{
    font-size: .75rem;
    line-height: 1rem;
}
.question-container .question-form textarea.form-control{
    resize: none;
    height: 84px;
    margin-bottom: 1rem;
}
.question-container .question-form .question-answer{
    font-size: 2rem;
}

/* FOOTER */
footer {
    font-size: 13px;
    color: var(--main-text-color);
    margin-top: auto;
}
footer .header {
    color: var(--secondary-text-color);
    font-size: 15px;
    margin: 0 0 .5rem 0;
    font-family: 'Nunito-SemiBold', sans-serif;
}
footer .header.white {
    color: var(--main-text-color);
}
footer ul {
    color: var(--main-text-color);
    padding: 0;
}
footer ul li {
    margin-bottom: .25rem;
    list-style: none;
}
footer ul li a{
    font-size: 13px;
    text-decoration: none;
    color: var(--main-text-color);
}
footer ul li a:hover{
    color: var(--main-text-color);
}
footer .footer-phone {
    font-size: 19px;
    color: var(--secondary-text-color);
}
